   <form
  class="flex"
  action="/artist-search"
  method="get"
  enctype="application/json"
>
  <label for="artist"></label>
  <input
    id="artist"
    name="search"
    type="text"
    value=""
  />
  <button type="submit">Search for an Artist</button>
   </form>