body{
    margin: 0;
    border: 0;
}

.around{
    margin: 5%;
}

.search{
    width: 50%;
    margin: 25%;
}

.background{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/spotify-background.jpeg");
    background-size: cover;
    position: absolute;
}

#align-text{
    text-align: center;
}
.btn{
    background-color: red;
    border-color:black;
}
.card{
    align-items: center;
    color:white;
    background-color: grey;
}
.card-title{
    align-items: center;
}
